@font-face {
    font-family: 'Squares-Bold';
    src: url('../assests/fonts/Squares-Bold-Free.otf');
}

@font-face {
    font-family: 'Poppins-Reglar';
    src: url('../assests/fonts/Poppins-Regular.ttf');
}