*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--BG-Black-One);
    color: var(--Text-Color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width:  100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header a {
    font-family: var(--Squares-Bold);
}

.logo {
    font-size: 3rem;
    color: var(--Text-Color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    text-shadow: 0 0 25px var(--Main-Green);
}

.logo:hover {
    transform: scale(1.1);
}


.navbar a {
    font-size: 1.8rem;
    color: var(--Text-Color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    font-family: var(--Squares-Bold);
    font-size: small;
}

.navbar a:hover,
.navbar a.active {
    color: var(--Main-Green);
    border-bottom: 3px solid var(--Main-Green);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--Main-Green);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 15rem;
}

span {
    color: var(--Main-Green);
}

.logo span {
    color: var(--Main-Green);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-family: var(--Poppins-Regular);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    font-family: var(--Poppins-Regular);
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    font-family: var(--Poppins-Regular);
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--Main-Green);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--Main-Green);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--Text-Color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--Main-Green);
    background-color: var(--Main-Green);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--Main-Green);
    box-shadow: 0 0 25px var(--Main-Green);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease-in-out;
    cursor: pointer;
}

.bnt:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--Main-Green);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--Squares-Bold);
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--Main-Green);
    border: 2px solid var(--Main-Green);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--Main-Green);
    background-color: var(--Main-Green);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Computer Science Student";
    color: var(--Main-Green);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--BG-Black-One);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--BG-Black-One);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--Main-Green);
    }
}

@keyframes words {
    0%,
    20%{
        content: "Computer Science Student";
    }
    21%,
    40%{
        content: "Tech Support";
    }
    41%,
    60%{
        content: "Salesman";
    }
    61%,
    80%{
        content: "Tech Enthusiast";
    }
    81%,
    100%{
        content: "Car Enthusiast";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education {
    padding: 100px 15px;
    background: var(--BG-Black-Two);
}

.education h2 {
    margin-bottom: 5rem;
    font-family: var(--Squares-Bold);
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--Main-Green);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--Main-Green);
    box-shadow: 0 0 25px var(--Main-Green),
                0 0 50px var(--Main-Green);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-content {
    background-color: var(--BG-Black-One);
    border: 3px solid var(--Main-Green);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--Main-Green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--Main-Green);
}

.timeline-content h3 {
    font-size: 20px;
    font-family: var(--Squares-Bold);
    color: var(--Text-Color);
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    font-family: var(--Poppins-Regular);
    color: var(--Text-Color);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.projects {
    background-color: var(--BG-Black-One);
    color: black;
}

.projects h2 {
    margin-bottom: 5rem;
    color: var(--Text-Color);
    font-family: var(--Squares-Bold);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-box {
    background-color: var(--Main-Green);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.projects-box:hover {
    background: var(--Text-Color);
    color: black;
    border: 5px solid var(--Main-Green);
    transform: scale(1.03);
}

.projects-box .projects-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}

.projects-info h4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
    font-family: var(--Poppins-Regular);
}

.projects-info p {
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 1000px;
    line-height: 1.7;
    font-family: var(--Poppins-Regular);
    margin: auto;
}

.proreferences {
    background: var(--BG-Black-Two);
    font-family: var(--Squares-Bold);
}

.proreferences-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proreferences .heading {
    margin-bottom: 5rem;
}

.proreferences-box img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--Main-Green);
    box-shadow: 0 0 25px var(--Main-Green);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.proreferences-item {
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: var(--Text-Color);
    transition: 0.4s ease-in-out;
    font-family: var(--Poppins-Regular);
}

.proreferences-item:hover {
    border: 3px solid var(--Main-Green);
    transform: translateY(-10px) scale(1.03);
}

.proreferences-item h2 {
    font-size: 2.8rem;
}

.proreferences-item p {
    font-size: 1.3rem;
}

#Catia {
    color: gold;
    font-size: 2rem;
}

#Pagani {
    color: gold;
    font-size: 2rem;
}

#Hara-san {
    color: gold;
    font-size: 2rem;
}

.contact {
    background-color: var(--BG-Black-One);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--Text-Color);
    font-family: var(--Squares-Bold);
}

.contact ::placeholder {
    font-family: var(--Poppins-Regular);
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--Text-Color);
    background: var(--BG-Black-Two);
    border-radius: 2rem;
    border: 2px solid var(--Main-Green);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    font-family: var(--Squares-Bold);
}

.footer {
    position: relative;
    font-family: var(--Poppins-Regular);
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--BG-Black-Two);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--Main-Green);
}

.footer .social a {
    font-size: 25px;
    color: var(--Main-Green);
    border: 2px solid var(--Main-Green);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--Main-Green);
    color: black;
    box-shadow: 0 0 25px var(--Main-Green);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;
}

.footer ul li a {
    color: var(--Text-Color);
    border-radius: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--Main-Green);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--Text-Color);
}

